

* {
    box-sizing: border-box;
   
}

#pomo {
    border: 2px solid black;
    padding: none;
    margin-top: 100px;
    margin: auto;
    text-align: center;
    height: 800px;
    background-color: white;
}


#tasks {
    margin: auto;
    text-align: center;
    height: 20%;
}
/* h2 {
    margin: auto;
    text-align: center;
}

ul li{
    margin: auto;
    text-align: center;
} */

ul li {
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


/* //when list is checked, strikeout. */

.checked {
    border: 2px solid black;
    background: black;
    color: red;
    text-decoration: line-through;
}


#settings {
    border: 2px solid brown;
    margin-left: auto;
    text-align: center;
    height: 20%;
}